.github/*   @bansalaseem

aks/*    @ds-ms @bansalaseem

arm/*   @dikhakha @sachinma

cli/*     @dikhakha @sachinma

containerwebapp/*     @vincentdass @kmkumaran @SumiranAgg

dotnetcore-cli/*    @vincentdass @kmkumaran @SumiranAgg

functions/*   @vincentdass @kmkumaran @SumiranAgg

functionscontainer/*    @vincentdass @kmkumaran @SumiranAgg

login/*     @dikhakha @sachinma

pipelines/*  @nishubansal @bansalaseem

releasepipelines/*  @nishubansal @bansalaseem

webapp/*    @vincentdass @kmkumaran @SumiranAgg