.github/*   @bansalaseem

aks-deploy/*    @ds-ms @bansalaseem

arm/*   @dikhakha @sachinma

az-pipelines/*  @nishubansal @bansalaseem

az-release-pipelines/*  @nishubansal @bansalaseem

azure-cli/*     @dikhakha @sachinma

dotnetcore-cli/*    @vincentdass @kmkumaran

function-app-deploy/*   @vincentdass @kmkumaran

function-app-container/*    @vincentdass @kmkumaran

web-app-container/* @vincentdass @kmkumaran

web-app-deploy/*    @vincentdass @kmkumaran