{{- if .Values.ingress.enabled -}}
{{- $fullName := include "default-chart.fullname" . -}}
{{- $ingressPath := .Values.ingress.path -}}
{{- $servicePort := .Values.service.port -}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/name: {{ include "default-chart.name" . }}
    helm.sh/chart: {{ include "default-chart.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
{{- with .Values.ingress.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
spec:
{{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
   - host: {{ .Values.ingress.hostname | quote }}
     http:
        paths:
          - path: {{ $ingressPath }} 
            backend:
              serviceName: {{ $fullName }}
              servicePort: {{ $servicePort }} 
{{- end }}
